version: "3.8"

services:
  app:
    # Image from Docker Hub (automatically built and pushed by GitHub Actions)
    image: liamngdev/stock-api:latest
    dns:
      - 192.168.86.50
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
      - PORT=3000
      - REDIS_URL=redis://redis.wiz-ai.cc:444
      - FINNHUB_API_KEY=d5bfgshr01qnaidtauhgd5bfgshr01qnaidtaui0
      - ALPHA_VANTAGE_API_KEY=O1PBCD2XM14CW05L
    deploy:
      resources:
        limits:
          memory: 512M # Prevents this container from eating all NAS RAM
    restart: unless-stopped

  watchtower:
    image: containrrr/watchtower
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    command: --interval 30 --cleanup
    restart: always
    environment:
      - WATCHTOWER_INCLUDE_STOPPED=true
